<div>
Suppport Hero For Today: <%= @support_hero_today.email %>

<% if @needs_login %>
  <select name="user" id="user_cal_select">
    <% @all_users.each do |usr| %><option name="<%= usr %>">><%= usr %></option><% end %>
  </select>
<% end %>
