<div>
<h1>Employee Manager</h1>
<p>This is an application to manage employee information, such as schedule.</p>
<p><a href="schedule/index.html">View the current calendar for your group(s).</a></p>
</div>
